@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: 'Inter', sans-serif;
}


.scrollbar-hide {
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para IE y Edge */
  }
  
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }

  /* Mostrar el modal cuando tiene la clase .open */
#search-modal.open {
  display: block;
}

/* Evitar scroll de la página cuando el buscador está abierto */
body.search-open {
  overflow: hidden;
}