<h2 class="text-sm font-bold text-gray-800 mb-4 border-b pb-2 uppercase tracking-wide">Nuestras Marcas</h2>
<div class="grid grid-cols-1 gap-3">
<a
  href="#"
  class="flex items-center justify-center p-2 rounded border border-blue-200 bg-blue-50 hover:shadow-md transition h-12"
>
  <img
    src="./images/datatronix.png"
    alt="Datatronix"
    class="max-h-8 w-auto object-contain"
  />
</a>
    <a href="https://www.ds3comunicaciones.com/alfa/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/ALFA_logo1.gif" alt="Alfa" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/airlive/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/airlivelogo.gif" alt="Airlive" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/andrew/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/andrew/images/logo_andrew.jpg" alt="Andrew" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/AMP/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/amp_logo2-91x20.jpg" alt="AMP" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/amphenol/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/amphenol_logo-100x21.jpg" alt="Amphenol" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/belden/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/Belden-Logo-93x15.jpg" alt="Belden" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/cisco/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/cisco/images/logo-cisco.gif" alt="Cisco" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/dahua/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/dahua/images/dahua_logo.jpg" alt="Dahua" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/dlink/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/D-Link_Logo-100x26.jpg" alt="D-Link" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/dixon/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/dixon_logo-100x19.jpg" alt="Dixon" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/FibreFab/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/FibreFab/images/logo_fibrefab.png" alt="FibreFab" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/lanpro/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/lanpro/images/lanpro_logo.jpg" alt="LanPro" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/l-com/" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/sitebuilder/images/lcom_logo-100x23.jpg" alt="L-Com" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/mikrotik/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/mikrotik_logo-100x24.png" alt="MikroTik" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/panduit/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/panduit/images/panduit_logo.jpg" alt="Panduit" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/satra/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/satra/images/satra.JPG" alt="Satra" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/siemon/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/siemon/images/siemon_logo1.GIF" alt="Siemon" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/tplink/" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/tp-link_logo-100x13.jpg" alt="TP-Link" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/trendnet/" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/trendnet_logo-100x20.jpg" alt="Trendnet" class="max-h-full max-w-full object-contain">
    </a>
    <a href="https://www.ds3comunicaciones.com/ubiquiti/index.html" class="flex items-center justify-center p-2 rounded border hover:shadow-md transition bg-white h-12">
        <img src="http://www.ds3comunicaciones.com/belden/images/ubnt_logo-100x47.png" alt="Ubiquiti" class="max-h-full max-w-full object-contain">
    </a>
</div>